p2{
margin-left:20px;}
#mrg{margin-left:30px;}

.para {font-size: 12px;}
.brd{margin-bottom: 20px;}
a {text-decoration: none;}

header a{color: white;}
header{background-color: black; padding: 20px;}
footer{color: white; background-color: black; padding: 20px;}
footer a{color:white;}
article{font-family: times new roman;
  display: block;
} 
section {margin-left: auto;
  margin-right: auto;
width: 50%;}

nav {color: red; 
  background-color: grey; 
  width: 300px; position: fixed; right: 0px; 
  padding: 5px;
  margin-top: 5px;
margin-left: 0px;}
hr {border: 1px dashed red;}


h2 {
  color: black;
font-family: Comforter;
  font-size: 24;

   width: 350px;
   height: 200px;
   border: 1px solid black;
   object-position: top right;
}
