
  
 
h1 {
  color: white; 
  text-align: center;
}
p2 {
  color: green; 
  }


margin-left:20px;}
#mrg{margin-left:30px;}

.para {font-size: 12px;}
.brd{margin-bottom: 20px;}
a {text-decoration: none;}

header a{color: white;}
header{background-color: black; padding: 20px;}
footer{background-color: black; padding: 20px;}
footer a{color:white;}
article{font-family: times new roman;
  display: block;
} 
section {margin-left: auto;
  margin-right: auto;
width: 50%;}

nav {color: red; background-color: grey; width: 500px; position: fixed; right: 20px; padding: 15px;}
