article {
  background-color: yellow; 
  color: blue; 
  font-family: times new roman;
} 
h1 {
  color: white; 
  text-align: center;
}
p2 {
  color: green; 
  }


margin-left:20px;}
#mrg{margin-left:30px;}
nav a{color: red;}
.para {font-size: 12px;}
.brd{margin-bottom: 20px;}
a {text-decoration: none;}

header a{color: white;}
header{background-color: black; border:5px collapse; padding: 20px;}
footer{background-color: black; border:5px collapse; padding: 20px;}
footer a{color:white;}
.box{display-inside: block;
  text-align: center;
} 
